@import "src/index";

.home--container{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  gap: 10px;
  height: fit-content;
  margin: 4rem 10px 0 10px;
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    .friend--container{
    }
    padding-bottom: 55px;
  }

  @media screen and (max-width: $smallPhone) {
    margin: 4rem 0 0 0;
  }
}
