.home--wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.user-info--card{
  background-color: #ac9c9c;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  min-height: 200px;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  button{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-style: italic;
    color: black;
    font-weight: 200;
    width: 100px;
    cursor: pointer;
    &:hover{
      transition: all .3s ease-in-out;
      color: white;
      background-color: darkgrey;
    }
  }
}