.userList--container{
  margin-bottom: 10px;
  ul[role=navigation]{
    list-style: none;
    padding: 0;
    text-align: center;
    width: 500px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      background-color: #e1d0d0;
      border-radius: 0px;
      color: white;
      letter-spacing: 0.08rem;
      font-size: 20px;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      &:hover{
        background-color: rgb(#e1d0d0, 0.5);
      }
      a{
        padding: 5px;
      }
    }
    li.selected{
      background-color: red;
      cursor: no-drop;
    }
  }
  .userList--wrapper{
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    li{
      background-color: #e1d0d0;
      border-radius: 10px;
      color: white;
      letter-spacing: 0.08rem;
      font-size: 20px;
      margin: 10px 0;
      width: 150px;
      height: 200px;
      word-break: break-word;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .userList__profileImage{
        width: 100px;
        height: 100px;
        background: #FF3D00;
        border-radius: 50%;
      }
      .userList__actions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        row-gap: 10px;
        button{
          background: #FF3D00;
          color: white;
          border: none;
          outline: none;
          padding: 5px;
          transition: all .3s ease-in-out;
          cursor: pointer;
          display: flex;
          align-items: center;
          svg{
            font-size: 14px;
            margin-right: 2px;
          }
          p{
            margin: 0;
            padding: 0;
            font-size: 14px;
          }
          &:hover{
            background: none;
          }
        }
      }
      p{
        padding: 0;
        margin: auto 0;
        font-size: 17px;
      }
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: none;
      }
      padding: 12px;
    }

  }
}
