@import "./index.scss";

.App {
  text-align: center;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.app_title, .app_title1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-1;
  min-height: 25rem;
  color: black;
  margin: 0.5rem 0;
  &:first-child{
    margin-top: 15rem;
  }
}

.app_title1{

  background-color: #d73f3f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $color-2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
