@import "src/index";

@media screen and (min-width: $tablet){
  .mobileChat--container{
    display: none;
  }
}

@media screen and (max-width: $tablet){
  .mobileChat--container{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    background: $color-3;
    height: fit-content;
    color: $color-2;
    transition: all .7s ease-in-out;
    border-radius: 0;
    &__title{
      margin: 0;
      font-size: 16px;
      padding: 10px;
      border-bottom: none;
      user-select: none;
      color: inherit;


    }
    .mobileChat--container__mesgWrapper{
      overflow: auto;
      height: 600px;
      padding-bottom: 15px;
      width: 100%;
    }
    &__actionWrapper{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #d0d0d0;
      cursor: pointer;
      background: #fff;
      .mobileChat--container__title{
        color: $color-2;
      }
      .mobileChat--container__headAction{
        outline: none;
        border: 1px solid $color-2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all .7s ease;
        margin-right: 5px;
        background: none;
        position: relative;
        &>span{
          position: absolute;
          top: 0;
          left: -3px;
          margin: 0 0 0 0;
          border-radius: 10px;
          width: 10px;
          height: 10px;
          background-color: green;
          color: $color-2;
          padding: 1px;
          font-size: 10px;
        }
      }
    }
    .mobileChat--mesgWrapper__onlineFriends{
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }

      border-bottom: 1px solid #d0d0d0;
    }
  }
}
