@import "src/index";

.post--container{
  background-color: $color-2;
  width: 100%;
  min-height: 100%;
  color: $color-1;

  &__title{
    margin: 0;
    font-size: 24px;
    padding: 10px;
    background: $color-2;
    border-bottom: 1px solid #d0d0d0;
  }
}
