@import "../../index.scss";

.menuItem--container{
  cursor: pointer;
  user-select: none;
  transition: all .3s ease;
  border-bottom: 1px solid #d0d0d0;
  &:hover{
    background: rgba($color-2, 0.2);
  }
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;


    &>p{
      margin: 0 0 0 8px;
    }
  }
}
