@import "../../index";


.menu--container{
  width: 100%;
  background: $color-3;
  color: $color-1;
  height: fit-content;
  box-shadow: 0 2px 5px 0 #000000;
  border-radius: 10px;
  opacity: 1;
  transition: left .7s ease-in-out;
  display: none;
  &__actionWrapper{
    .menu--container__headAction{
      display: none;
    }
  }
  @media screen and (max-width: $tablet) {
    position: fixed;
    border-top: 1px solid #d0d0d0;
    width: 200px;
    right: -200px;
    background: $color-3;
    color: $color-1;
    transition: left .7s ease-in-out;
    &__items{
      position: fixed;
      background: $color-3;
      color: $color-1;
      width: 200px;
      right: -200px;
      transition: left .7s ease-in-out;
      border: 1px solid #d0d0d0;
    }
    .menu--container__profWrapper{
      overflow: auto;
      max-height: 600px;
      padding-bottom: 15px;
    }
    &__actionWrapper{
      position: relative;
      z-index: 9999;
      .menu--container__headAction{
        outline: none;
        border: 1px solid #d0d0d0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -46px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: all .7s ease;
      }
    }
    &__title{
      display: none;

    }
  }
  &__title{
    margin: 0;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
    user-select: none;
  }

  &__items{
    border-top: 1px solid #d0d0d0;
    transition: all .7s ease;
    .menuItem--container{
        &:last-child{
          border-bottom: none;
        }
    }
  }
}
