@import "../index";

.app_header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  min-height: 3rem;
  background: $color-3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $color-1;
  box-shadow: 0 0.5px 5px 0 #000000;
  z-index: 99999;
  &>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 30px;
  }
  &>nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    & > li {
      margin: 0 3em;

      a{
        text-decoration: none;
        color: $color-1;
        background: none;
      }

    }
  }

  .header_actions{
    position: relative;
    .header-actions__logged{
      @media screen and (max-width: $tablet){
        display: none;
      }
    }
    .header--mobileMenu{
      outline: none;
      border: none;
      background: none;
      @media screen and (min-width: $tablet){
        display: none;
      }
    }
    .activeLink{
      display: inline-block;
      background: #d0d0d0;
    }
    &>a{
      font-size: 16px;
      text-align: center;
      padding: 5px 20px;
      background: none;
      border-radius: 25px;
      cursor: pointer;
      text-decoration: none;
      color: $color-1;
      transition: all .3s ease;
    }
  }

  .header_logo{
    &>a{
      font-size: 20px;
      background: none;
      text-decoration: none;
      color: $color-1;
    }

  }

}

#header_profile{
  padding: 0 0;
  &>img {
    background: $color-2; //fallback color
    border-radius: 50%;
    padding: 0 0;
    width: 35px;
    height: 35px;
    object-position: center;
    object-fit: cover;
  }
  @media screen and (max-width: $tablet){
    display: none;
  }
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 25px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.center:before,
.center:after,
.center div {
  background: $color-2;
  content: "";
  display: block;
  height: 2px;
  border-radius: 3px;
  margin: 0 0 6px 0;
  transition: 0.5s;
}

.center:after{
  margin-bottom: 0;
}

.openedMenu:before {
  transform: translateY(6px) rotate(135deg);
}
.openedMenu:after {
  transform: translateY(-10px) rotate(-135deg);
}
.openedMenu div {
  transform: scale(0);
}
