@import "src/index";
.searchHeader--wrapper{
  width: 100%;
  max-width: 480px;
  position: relative;
  padding: 0 20px;

  .form-input {

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  & > .form-input {
    width: 100%;
    margin: 0 0;
    .icon_wrapper {
      width: 100%;
      & > input {
        padding: 5px 5px 5px 30px;
        border-radius: 20px;
        border: none;
        &:focus{
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      & > svg {
        margin: auto 0 auto 10px;
      }
    }
  }
}
.searchHeaderMenu--container{
  position: absolute;
  bottom: -400px;
  width: 100%;
  max-width: 440px;
  height: 400px;
  background: #fff;
  z-index: 9999;
  color: $color-1;
}
